<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home"></ion-back-button>
    </ion-buttons>
    <img src="../../assets/images/logo.png" alt="logo" >
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-card>
   
    <ion-card-header>
      <!-- <ion-card-subtitle>Destination</ion-card-subtitle> -->
      <ion-card-title>Address</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      Founded in 1829 on an isthmus between Lake Monona and Lake Mendota, Madison was named the capital of the Wisconsin Territory in 1836.
    </ion-card-content>
    
  </ion-card>

  <ion-card>
   
    <ion-card-header>
      <!-- <ion-card-subtitle>Destination</ion-card-subtitle> -->
      <ion-card-title>product Details</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <div class="title">
        <img src="../../assets/images/5.jpg" alt="">
        <h3> Vivo Z1 Pro(Sonic black)</h3>
        <h4>59999</h4>
        <ion-badge color="success" slot="start">80 Ratings</ion-badge>
      </div>

     
    </ion-card-content>
  </ion-card>
  <ion-card-header>
    <!-- <ion-card-subtitle>Destination</ion-card-subtitle> -->
    <ion-card-title>Price Details</ion-card-title>
  </ion-card-header>
<ion-card>
  <ion-card-content>
    <div class="title">
      <p>Price <span float-right>16000</span></p>
      <p>Deliary <span float-right>100</span></p>
      <p>Amount Payable<span float-right>16100</span></p>
      </div>
  </ion-card-content>
</ion-card>

</ion-content>
