<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home"></ion-back-button>
    </ion-buttons>
    <img src="../../assets/images/logo.png" alt="logo" >
  </ion-toolbar>
</ion-header>

<ion-content padding>
<div>
  <ion-card>
    <div class="title">
      <img src="../../assets/images/5.jpg" alt="">
      <h3> Vivo Z1 Pro(Sonic black)</h3>
      <h4>59999</h4>
      <ion-badge color="success" slot="start">80 Ratings</ion-badge>
    </div>

    
  


  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Highlights</ion-card-title>
    </ion-card-header>
<ion-card-content>
  <ion-list>
    <ion-item>Item 1</ion-item>
    <ion-item>Item 1</ion-item>
    <ion-item>Item 1</ion-item>
    <ion-item>Item 1</ion-item>
    <ion-item>Item 1</ion-item>
  </ion-list>
  <ion-button size="small" color="success" routerLink="/checkout">Checkout</ion-button>
</ion-card-content>
  </ion-card>
</div>



</ion-content>
